Repository elisplash/paw: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

eslint:
  name: eslint
  entry: npx eslint --max-warnings 0
  language: system

prettier:
  name: prettier
  entry: npx prettier --check
  language: system

typecheck:
  name: tsc --noEmit
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
  language: system

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

feat: Phase K-3 — chat terminal style, border-left messages, compact header, sharp input
  src/styles.css
Due: none

feat: Phase K-4 — Mission Control bento grid, dense today cards, compact greeting
  src/styles.css
Due: none

feat: Phase K-5 — table views kinetic transform (agents, tasks, integrations, skills, channels)
  src/styles.css
Due: none

feat: Phase K-6 — kinetic modals, sharp overlays, flat buttons
  src/styles.css
Due: none

feat: Phase K-8 — kinetic signals: toasts, notifications, command palette polish
  src/styles.css
Due: none

feat: Phase K-9 — kinetic hotline: mini-chat terminal, dock, avatar frames
  src/styles.css
Due: none

feat: Phase K-10 — kinetic pulse bridge: event-driven visual heartbeat
  src/engine/molecules/bridge.ts
  src/styles.css
Due: eslint, prettier, typecheck

feat: Phase K-11 — kinetic specialized views (foundry, research, orchestrator, memory, nodes, trading, mail)
  src/styles.css
Due: none

feat: kinetic onboarding — welcome screen, wizard, tour
  src/styles.css
Due: none

feat: structural UI transformation — sidebar rail icons, chat terminal prefixes, bento grid, roster + matrix views
  index.html
  src/engine/organisms/chat_controller.ts
  src/styles.css
  src/views/agents/molecules.ts
  src/views/integrations/molecules.ts
  src/views/today/molecules.ts
Due: eslint, prettier, typecheck

Fix sidebar: use Logo 1, tighter collapse, stronger border
  src/styles.css
Due: none

Sidebar: fully collapse to 0px, reveal on hover
  src/styles.css
Due: none

feat: enhanced kinetic on chat mission panel — stagger, spring, signal waves
  index.html
  src/components/chat-mission-panel.ts
Due: eslint, prettier, typecheck

feat: quick prompts, automations & queries in chat mission panel
  index.html
  src/components/chat-mission-panel.ts
  src/styles/_chat-mission.css
Due: eslint, prettier, typecheck

fix: agents roster alignment + scroll containment
  src/styles/_agents.css
  src/views/agents/molecules.ts
Due: eslint, prettier, typecheck

K-14b Integrations: 2-column matrix grid, wrapping pills, no redundant header
  src/styles/_integrations.css
  src/views/integrations/molecules.ts
Due: eslint, prettier, typecheck

K-15: Channels view overhaul — hero header, two-column body, side panel
  index.html
  src/components/channels-panel.ts
  src/styles/_channels.css
  src/views/channels/index.ts
  src/views/channels/molecules.ts
Due: eslint, prettier, typecheck

K-16: Skills/Integrations restructure — remove PawzHub from nav
  index.html
  src/components/command-palette/atoms.ts
  src/components/command-palette/index.ts
  src/components/molecules/skill-card.ts
  src/main.ts
  src/styles/_integrations.css
  src/views/integrations/index.ts
  src/views/integrations/molecules.ts
  src/views/router.ts
  src/views/settings-skills/index.ts
  src/views/settings-skills/tab-active.ts
  src/views/settings-skills/tab-extensions.ts
  src/views/settings-skills/tab-integrations.ts
  src/views/settings-skills/wizard.ts
Due: eslint, prettier, typecheck

K-17: Skills Library — kinetic hero + side panel overhaul
  index.html
  src/components/skills-panel.ts
  src/styles/_skills-tabs.css
  src/views/settings-skills/index.ts
Due: eslint, prettier, typecheck

K-18: Split Skills/Built In pages — native Rust tools → Built In, skills.sh → Skills
  index.html
  src/components/skills-panel.ts
  src/styles/_skills-tabs.css
  src/views/built-in/index.ts
  src/views/integrations/molecules.ts
  src/views/router.ts
  src/views/settings-skills/index.ts
Due: eslint, prettier, typecheck

K-18b: Skills side panel — scrollable panel + scrollable card bodies
  src/styles/_skills-tabs.css
Due: none

Fix: Fleet roster action buttons actually visible now
  src/styles/_agents.css
Due: none

K-19: Mail kinetic overhaul — hero header, two-column body, side panel, stat counters
  index.html
  src/styles/_mail.css
  src/views/mail/index.ts
  src/views/mail/molecules.ts
Due: eslint, prettier, typecheck

K-20: Tasks kinetic overhaul — hero header, two-column body, side panel
  index.html
  src/styles/_tasks.css
  src/views/tasks/index.ts
  src/views/tasks/molecules.ts
Due: eslint, prettier, typecheck

K-21: Foundry kinetic overhaul — hero + two-column body + side panel
  index.html
  src/styles/_foundry.css
  src/views/foundry/index.ts
  src/views/foundry/molecules.ts
Due: eslint, prettier, typecheck

K-23: Documentation & GitHub overhaul — 400+ integrations
  README.md
  docs.json
  guides/integrations.mdx
  guides/skills.mdx
  reference/architecture.mdx
  start/features.mdx
  start/getting-started.mdx
  start/overview.mdx
  start/showcase.mdx
Due: none

K-23b: Audit fix — update remaining stale 75+/40 references
  ARCHITECTURE.md
  DASHBOARD_OVERHAUL_PLAN.md
  SKILLS_WORKSPACE_PLAN.md
  src-tauri/src/engine/chat.rs
  src-tauri/src/engine/prompts/platform.md
  src-tauri/src/engine/skills/builtins.rs
  src-tauri/src/engine/skills/mod.rs
  src-tauri/src/engine/tool_index.rs
  src-tauri/src/engine/tools/request_tools.rs
Due: cargo-fmt, cargo-clippy

K-24: Mintlify docs kinetic style overhaul
  channels/overview.mdx
  docs.json
  providers/anthropic.mdx
  providers/custom.mdx
  providers/deepseek.mdx
  providers/google.mdx
  providers/grok.mdx
  providers/mistral.mdx
  providers/moonshot.mdx
  providers/openai.mdx
  providers/openrouter.mdx
  providers/overview.mdx
  reference/troubleshooting.mdx
  start/configuration.mdx
  start/dashboard.mdx
  start/features.mdx
  start/first-agent.mdx
  start/first-provider.mdx
  start/getting-started.mdx
  start/installation.mdx
  start/overview.mdx
  start/showcase.mdx
Due: none

K-25: Final branding audit — fix 6 stale refs
  index.html
  src-tauri/src/commands/tts.rs
  src/types.ts
  src/views/mail/setup.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

fix: docs.json theme 'quill' → 'maple' (valid Mintlify theme)
  docs.json
Due: none

K-26: Wire n8n integration engine — credential bridge, tool executor, query runner
  src-tauri/src/commands/n8n.rs
  src-tauri/src/commands/queries.rs
  src-tauri/src/engine/tools/mod.rs
  src-tauri/src/engine/tools/n8n.rs
  src/engine/organisms/chat_controller.ts
  src/views/integrations/index.ts
  src/views/integrations/setup-guide.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

fix: Rust compile errors — unused imports, Default derive, vault_key unwrap
  src-tauri/src/commands/n8n.rs
  src-tauri/src/engine/tools/n8n.rs
Due: cargo-fmt, cargo-clippy

fix: Slack credential key mismatch — 'access_token' → 'bot_token'
  src-tauri/src/commands/n8n.rs
  src/views/integrations/catalog.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

fix: replace 270 fake n8n-nodes-community types with real n8n-nodes-base identifiers
  src-tauri/src/engine/tools/n8n.rs
  src/views/integrations/catalog.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

docs: add screenshots, frontend-only dev instructions, fix prettier formatting
  README.md
  images/screenshots/Agents.png
  images/screenshots/Chat.png
  images/screenshots/Integrations.png
  src/engine/organisms/chat_controller.ts
Due: eslint, prettier, typecheck

docs: add token savings & cost control section, expand security benefits
  README.md
Due: none

Path conditions:
  eslint: any of: ^src/.*\.ts$ and \.(ts|mts|cts)$ and not (\.test\.ts$)
  prettier: any of: ^src/.*\.ts$ and \.(ts|mts|cts)$
  typecheck: any of: ^src/.*\.ts$ and \.(ts|mts|cts)$
  cargo-fmt: any of: ^src-tauri/.*\.rs$ and \.rs$
  cargo-clippy: any of: ^src-tauri/.*\.rs$ and \.rs$
