Repository elisplash/paw: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

eslint:
  name: eslint
  entry: npx eslint --max-warnings 0
  language: system

prettier:
  name: prettier
  entry: npx prettier --check
  language: system

typecheck:
  name: tsc --noEmit
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
  language: system

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

fix(n8n): resolve HTTP 404 on community package install
  src-tauri/src/commands/n8n.rs
  src-tauri/src/engine/n8n_engine/docker.rs
  src-tauri/src/engine/n8n_engine/process.rs
Due: cargo-fmt, cargo-clippy

fix(n8n): serialise docker-exec installs and skip Chromium download
  src-tauri/src/commands/n8n.rs
Due: cargo-fmt, cargo-clippy

refactor: remove legacy Rust API proxy tools, lean into Conductor Protocol
  index.html
  src-tauri/src/commands/queries.rs
  src-tauri/src/commands/skills.rs
  src-tauri/src/engine/skills/builtins.rs
  src-tauri/src/engine/tools/coinbase.rs
  src-tauri/src/engine/tools/dex.rs
  src-tauri/src/engine/tools/email.rs
  src-tauri/src/engine/tools/github.rs
  src-tauri/src/engine/tools/google.rs
  src-tauri/src/engine/tools/google_oauth.rs
  src-tauri/src/engine/tools/mod.rs
  src-tauri/src/engine/tools/slack.rs
  src-tauri/src/engine/tools/solana.rs
  src-tauri/src/engine/tools/trello/boards.rs
  src-tauri/src/engine/tools/trello/cards.rs
  src-tauri/src/engine/tools/trello/checklists.rs
  src-tauri/src/engine/tools/trello/labels.rs
  src-tauri/src/engine/tools/trello/lists.rs
  src-tauri/src/engine/tools/trello/members.rs
  src-tauri/src/engine/tools/trello/mod.rs
  src-tauri/src/lib.rs
  src/components/agents-panel.ts
  src/components/chat-mission-panel.ts
  src/engine/molecules/ipc_client.ts
  src/features/agent-policies/atoms.ts
  src/views/agents/atoms.ts
  src/views/built-in/index.ts
  src/views/integrations/molecules.ts
  src/views/mail/molecules.ts
  src/views/router.ts
  src/views/settings-skills/molecules.ts
  src/views/settings-skills/setup-wizard.ts
  src/views/today/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

style: fix cargo fmt + trailing whitespace for CI
  .paw-architecture.md
  src-tauri/src/commands/n8n.rs
  src-tauri/src/engine/tools/request_tools.rs
Due: cargo-fmt, cargo-clippy

fix: package verification uses docker exec fallback + remove broken Cookie auth
  .paw-architecture.md
  src-tauri/src/commands/n8n.rs
Due: cargo-fmt, cargo-clippy

fix: install ensures n8n is ready + list handles missing container
  src-tauri/src/commands/n8n.rs
Due: cargo-fmt, cargo-clippy

engram: code overhaul — 2-hop activation, momentum search, feedback/relate tools, schema migrations
  ENGRAM.md
  ENGRAM_GAP_ANALYSIS.md
  docs/ENGRAM_GAP_ANALYSIS.md
  docs/ENGRAM_GAP_PHASE1.md
  docs/Engram_Plan.md
  src-tauri/src/atoms/engram_types.rs
  src-tauri/src/commands/chat.rs
  src-tauri/src/engine/engram/bridge.rs
  src-tauri/src/engine/engram/context_builder.rs
  src-tauri/src/engine/engram/graph.rs
  src-tauri/src/engine/engram/schema.rs
  src-tauri/src/engine/sessions/engram.rs
  src-tauri/src/engine/swarm.rs
  src-tauri/src/engine/tasks.rs
  src-tauri/src/engine/tools/memory.rs
Due: cargo-fmt, cargo-clippy

fix: increase n8n startup timeout from 60s to 180s
  src-tauri/src/engine/n8n_engine/types.rs
Due: cargo-fmt, cargo-clippy

fix: fast-fail when container no longer exists instead of polling 180s
  src-tauri/src/engine/n8n_engine/docker.rs
Due: cargo-fmt, cargo-clippy

fix: reuse encryption key on re-provision to prevent crash loop
  .paw-architecture.md
  src-tauri/src/engine/n8n_engine/docker.rs
  src-tauri/src/engine/n8n_engine/process.rs
Due: cargo-fmt, cargo-clippy

feat: Streamable HTTP transport + fix MCP endpoint + scoped package filter
  .paw-architecture.md
  src-tauri/src/commands/n8n.rs
  src-tauri/src/engine/mcp/client.rs
  src-tauri/src/engine/mcp/registry.rs
  src-tauri/src/engine/mcp/transport.rs
  src-tauri/src/engine/mcp/types.rs
  src-tauri/src/engine/n8n_engine/docker.rs
  src-tauri/src/engine/n8n_engine/health.rs
  src-tauri/src/engine/n8n_engine/process.rs
Due: cargo-fmt, cargo-clippy

fix: correct owner credentials and login field for n8n API
  .paw-architecture.md
  src-tauri/src/engine/n8n_engine/health.rs
Due: cargo-fmt, cargo-clippy

fix: use POST /rest/mcp/api-key for MCP token retrieval
  .paw-architecture.md
  src-tauri/src/engine/n8n_engine/health.rs
Due: cargo-fmt, cargo-clippy

Update architecture for workflow-level MCP (not individual node tools)
  .FLOW_STRATEGY.md
  .paw-architecture.md
  ARCHITECTURE.md
  README.md
  guides/integrations.mdx
  guides/mcp-bridge.mdx
  guides/n8n.mdx
  reference/conductor-protocol.mdx
  reference/foreman-protocol.mdx
  reference/librarian-method.mdx
  src-tauri/src/commands/n8n.rs
  src-tauri/src/engine/mcp/registry.rs
  src-tauri/src/engine/tools/request_tools.rs
  src-tauri/src/engine/tools/worker_delegate.rs
  src/views/flows/executor-atoms.ts
  start/features.mdx
  start/getting-started.mdx
  start/overview.mdx
  start/showcase.mdx
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

Fix model routing for Ollama models + make MCP token errors visible
  src-tauri/src/commands/n8n.rs
  src-tauri/src/engine/n8n_engine/health.rs
  src-tauri/src/engine/state.rs
Due: cargo-fmt, cargo-clippy

Auto-restart stale n8n when MCP endpoint missing
  src-tauri/src/engine/n8n_engine/health.rs
  src-tauri/src/engine/n8n_engine/mod.rs
Due: cargo-fmt, cargo-clippy

Fix MCP detection: check /rest/mcp/api-key instead of /mcp-server/http
  package-lock.json
  src-tauri/src/commands/n8n.rs
  src-tauri/src/engine/mcp/client.rs
  src-tauri/src/engine/mcp/registry.rs
  src-tauri/src/engine/mcp/transport.rs
  src-tauri/src/engine/n8n_engine/docker.rs
  src-tauri/src/engine/n8n_engine/health.rs
  src-tauri/src/engine/n8n_engine/process.rs
  src-tauri/src/engine/n8n_engine/types.rs
Due: cargo-fmt, cargo-clippy

feat: Engram frontier modules, lock screen, and bug fixes
  .flow_strategy.md
  .gitignore
  docs/ENGRAM_GAP_ANALYSIS.md
  docs/ENGRAM_GAP_PHASE1.md
  docs/Engram_Plan.md
  index.html
  package-lock.json
  package.json
  src-tauri/src/atoms/constants.rs
  src-tauri/src/atoms/engram_types.rs
  src-tauri/src/commands/utility.rs
  src-tauri/src/engine/engram/bridge.rs
  src-tauri/src/engine/engram/consolidation.rs
  src-tauri/src/engine/engram/entity_tracking.rs
  src-tauri/src/engine/engram/graph.rs
  src-tauri/src/engine/engram/intent_classifier.rs
  src-tauri/src/engine/engram/mod.rs
  src-tauri/src/engine/engram/schema.rs
  src-tauri/src/engine/engram/temporal_search.rs
  src-tauri/src/engine/sessions/engram.rs
  src-tauri/src/lib.rs
  src/engine/molecules/inbox_thread.ts
  src/main.ts
  src/styles/_lock-screen.css
  src/styles/index.css
  src/views/agents/mini-chat.ts
  src/views/lock-screen.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

cleanup .flow_strategy
  .FLOW_STRATEGY.md
Due: none

chore: add self-installing pre-commit & pre-push hooks
  scripts/pre-commit
  scripts/pre-push
  scripts/prepare-hooks.js
Due: none

chore: remove merge artifact .FLOW_STRATEGY.md backup
  .FLOW_STRATEGY.md~d983a40b347c03a70f0b330d24bf18fa3193db15
Due: none

fix: resolve 9 test failures + critical tool_use_id 400 error
  src-tauri/src/atoms/engram_types.rs
  src-tauri/src/commands/utility.rs
  src-tauri/src/engine/agent_loop/helpers.rs
  src-tauri/src/engine/engram/abstraction_tree.rs
  src-tauri/src/engine/engram/bridge.rs
  src-tauri/src/engine/engram/context_builder.rs
  src-tauri/src/engine/engram/dream_replay.rs
  src-tauri/src/engine/engram/emotional_memory.rs
  src-tauri/src/engine/engram/encryption.rs
  src-tauri/src/engine/engram/entity_tracking.rs
  src-tauri/src/engine/engram/graph.rs
  src-tauri/src/engine/engram/intent_classifier.rs
  src-tauri/src/engine/engram/memory_bus.rs
  src-tauri/src/engine/engram/meta_cognition.rs
  src-tauri/src/engine/engram/metadata_inference.rs
  src-tauri/src/engine/engram/mod.rs
  src-tauri/src/engine/engram/model_caps.rs
  src-tauri/src/engine/engram/temporal_search.rs
  src-tauri/src/engine/engram/working_memory.rs
  src-tauri/src/engine/providers/anthropic.rs
  src-tauri/src/engine/sessions/engram.rs
  src-tauri/src/engine/sessions/messages.rs
Due: cargo-fmt, cargo-clippy

fix: include default agent in dock for mini-chat access
  src-tauri/src/engine/n8n_engine/process.rs
  src-tauri/src/engine/providers/openai.rs
  src/views/agents/dock.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

feat: swap old mini-chat for new mini-hub system
  src/engine/molecules/agent_dock.ts
  src/engine/organisms/mini_hub_orchestrator.ts
  src/main.ts
  src/views/agents/index.ts
Due: eslint, prettier, typecheck

ui: redesign mini-hub for cleaner, polished look
  src/components/helpers.ts
  src/engine/molecules/mini-hub.ts
  src/styles/_mini-chat.css
Due: eslint, prettier, typecheck

fix: make mini-hub responsive to viewport size
  src/engine/molecules/mini-hub.ts
  src/state/mini-hub.ts
  src/styles/_mini-chat.css
Due: eslint, prettier, typecheck

ui: shrink mini-hub by 25% (270x380)
  src/engine/molecules/mini-hub.ts
  src/state/mini-hub.ts
  src/styles/_mini-chat.css
Due: eslint, prettier, typecheck

style: fix prettier formatting in lock-screen.ts
  src/views/lock-screen.ts
Due: eslint, prettier, typecheck

fix: agents panel collapse no longer hides chat thread
  src/styles/_inbox-conv.css
  src/styles/_inbox-sidebar.css
  src/styles/_inbox-thread.css
  src/styles/_inbox.css
Due: none

ui: tidy stream actions into dropdown menu
  index.html
  src/components/helpers.ts
  src/engine/molecules/chat_listeners.ts
  src/engine/organisms/chat_controller.ts
  src/engine/organisms/inbox_controller.ts
  src/styles/_components.css
Due: eslint, prettier, typecheck

docs: rewrite ENGRAM.md whitepaper v2.0
  ENGRAM.md
Due: none

docs(engram): fix math rendering for GitHub markdown
  ENGRAM.md
Due: none

docs(engram): expand Memory Lifecycle Integration mermaid chart
  ENGRAM.md
Due: none

Path conditions:
  eslint: any of: ^src/.*\.ts$ and \.(ts|mts|cts)$ and not (\.test\.ts$)
  prettier: any of: ^src/.*\.ts$ and \.(ts|mts|cts)$
  typecheck: any of: ^src/.*\.ts$ and \.(ts|mts|cts)$
  cargo-fmt: any of: ^src-tauri/.*\.rs$ and \.rs$
  cargo-clippy: any of: ^src-tauri/.*\.rs$ and \.rs$
