Repository elisplash/paw: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

# prek (https://github.com/j178/prek) — fast pre-commit hooks, drop-in replacement
# Install: curl -LsSf https://github.com/j178/prek/releases/latest/download/prek-installer.sh | sh
# Setup:   prek install
# Run all: prek run --all-files

repos:
  # ── General file hygiene ────────────────────────────────────────
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md,mdx]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: mixed-line-endings
        args: [--fix=lf]
      - id: no-commit-to-branch
        args: [--branch, main]

  # ── TypeScript / JavaScript ─────────────────────────────────────
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npx eslint --max-warnings 0
        language: system
        files: '^src/.*\.ts$'
        exclude: '\.test\.ts$'
        types: [ts]

      - id: prettier
        name: prettier
        entry: npx prettier --check
        language: system
        files: '^src/.*\.ts$'
        types: [ts]

      - id: typecheck
        name: tsc --noEmit
        entry: npx tsc --noEmit
        language: system
        pass_filenames: false
        files: '^src/.*\.ts$'
        types: [ts]

  # ── Rust ────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
        language: system
        files: '^src-tauri/.*\.rs$'
        types: [rust]

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings
        language: system
        pass_filenames: false
        files: '^src-tauri/.*\.rs$'
        types: [rust]

  # ── Commit message ─────────────────────────────────────────────
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

fix(today): fix graph sizing and suppress overflow labels in mini mode
  src/views/memory-palace/graph.ts
Due: eslint, prettier, typecheck

feat(signal-flow): upgrade to Memory Palace-level visual quality
  src/components/molecules/signal-flow.ts
Due: eslint, prettier, typecheck

feat(signal-flow): replace rect nodes with 3D sphere rendering
  src/components/molecules/signal-flow.ts
Due: eslint, prettier, typecheck

fix(today): start engram graph zoomed out in mini mode (zoom=0.55)
  src/views/memory-palace/graph.ts
Due: eslint, prettier, typecheck

fix(today): nudge engram mini zoom to 0.48
  src/views/memory-palace/graph.ts
Due: eslint, prettier, typecheck

feat(today): replace Signal Flow with RECALL card
  src/styles/_today.css
  src/views/today/index.ts
  src/views/today/molecules.ts
Due: eslint, prettier, typecheck

fix(today): fix recall card producing random responses on repeat clicks
  src/views/today/molecules.ts
Due: eslint, prettier, typecheck

fix(today): defer recall finalize by one tick to prevent half-sentence cutoff
  src/views/today/molecules.ts
Due: eslint, prettier, typecheck

fix(engine): use complete event text as authoritative final content in chat
  src/engine/molecules/bridge.ts
  src/engine/molecules/event_bus.ts
Due: eslint, prettier, typecheck

feat: group chat fan-out — agents debate sequentially in main thread
  src/engine/organisms/chat_controller.ts
Due: eslint, prettier, typecheck

feat(canvas): remove design lock-in — richer agent instructions, neutral embed defaults, 3 diverse templates
  src-tauri/src/engine/sessions/templates.rs
  src-tauri/src/engine/tool_index.rs
  src-tauri/src/engine/tools/canvas.rs
  src/views/canvas/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

feat(canvas): live data, interactive forms, and auto-refresh
  src-tauri/src/engine/tool_index.rs
  src-tauri/src/engine/tools/canvas.rs
  src/views/canvas/index.ts
  src/views/canvas/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

Fix/integration awareness oauth guard (#60)
  src/components/molecules/signal-flow.ts
  src/engine/molecules/bridge.ts
  src/engine/molecules/event_bus.ts
  src/styles/_mini-chat.css
  src/styles/_today.css
  src/views/agents/mini-chat.ts
  src/views/memory-palace/graph.ts
  src/views/today/index.ts
  src/views/today/molecules.ts
Due: eslint, prettier, typecheck

fix: agent focus lock, conversation saving, and budget blocker
  index.html
  src-tauri/src/atoms/types.rs
  src-tauri/src/engine/agent_loop/mod.rs
  src/engine/molecules/chat_listeners.ts
  src/engine/molecules/token_meter.ts
  src/engine/organisms/chat_controller.ts
  src/views/settings-advanced/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

feat: extract openpawz-core shared library + CLI scaffold
  src-tauri/Cargo.lock
  src-tauri/crates/openpawz-core/Cargo.toml
  src-tauri/crates/openpawz-core/src/engine/audit.rs
  src-tauri/crates/openpawz-core/src/engine/engram/encryption.rs
Due: cargo-fmt, cargo-clippy

Implementing CLI Banner
  README.md
  images/screenshots/PAWZ-CLI.png
  src-tauri/crates/openpawz-core/src/engine/sessions/schema.rs
  src-tauri/src/engine/forge/certification.rs
  src-tauri/src/engine/forge/skill_tree.rs
  src-tauri/tests/integration.rs
Due: cargo-fmt, cargo-clippy

fix: centralize tool metadata, fail-closed encryption, npm audit
  package.json
  pnpm-lock.yaml
  src-tauri/crates/openpawz-core/src/engine/engram/bridge.rs
  src-tauri/crates/openpawz-core/src/engine/engram/graph.rs
  src-tauri/crates/openpawz-core/src/engine/engram/working_memory.rs
  src-tauri/crates/openpawz-core/src/engine/mod.rs
  src-tauri/crates/openpawz-core/src/engine/tool_metadata.rs
  src-tauri/src/engine/agent_loop/mod.rs
  src-tauri/src/engine/orchestrator/agent_loop.rs
  src-tauri/src/engine/speculative/atoms.rs
  src-tauri/src/engine/tool_index.rs
  src-tauri/src/engine/tools/worker_delegate.rs
Due: cargo-fmt, cargo-clippy

feat: Engram plan implementation, dep bumps, response grounding
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/crates/openpawz-core/Cargo.toml
  src-tauri/crates/openpawz-core/src/atoms/engram_types.rs
  src-tauri/crates/openpawz-core/src/engine/engram/anticipatory.rs
  src-tauri/crates/openpawz-core/src/engine/engram/bridge.rs
  src-tauri/crates/openpawz-core/src/engine/engram/context_builder.rs
  src-tauri/crates/openpawz-core/src/engine/engram/encrypted_export.rs
  src-tauri/crates/openpawz-core/src/engine/engram/encryption.rs
  src-tauri/crates/openpawz-core/src/engine/engram/hnsw.rs
  src-tauri/crates/openpawz-core/src/engine/engram/mod.rs
  src-tauri/crates/openpawz-core/src/engine/engram/process_hardening.rs
  src-tauri/crates/openpawz-core/src/engine/engram/proposition.rs
  src-tauri/crates/openpawz-core/src/engine/engram/research_bridge.rs
  src-tauri/crates/openpawz-core/src/engine/engram/schema.rs
  src-tauri/crates/openpawz-core/src/engine/engram/sqlcipher.rs
  src-tauri/crates/openpawz-core/src/engine/engram/working_memory.rs
  src-tauri/crates/openpawz-core/src/engine/sessions/engram.rs
  src-tauri/src/commands/chat.rs
  src-tauri/src/commands/memory.rs
  src-tauri/src/engine/agent_loop/mod.rs
  src-tauri/src/engine/chat.rs
  src-tauri/src/engine/discord.rs
  src-tauri/src/engine/mattermost.rs
  src-tauri/src/engine/n8n_engine/docker.rs
  src-tauri/src/engine/nostr/relay.rs
  src-tauri/src/engine/prompts/platform.md
  src-tauri/src/engine/sandbox.rs
  src-tauri/src/engine/slack.rs
  src-tauri/src/engine/twitch.rs
  src-tauri/src/engine/webchat/mod.rs
  src-tauri/src/engine/whatsapp/docker.rs
  src/features/memory-intelligence/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

docs: update Chinese README with Pawz CLI section
  README.zh-CN.md
Due: none

feat(cli): add project, doctor, audit, task commands + agent export/import
  docs/cli.md
  src-tauri/Cargo.lock
  src-tauri/crates/openpawz-cli/Cargo.toml
  src-tauri/crates/openpawz-cli/src/commands/agent.rs
  src-tauri/crates/openpawz-cli/src/commands/audit.rs
  src-tauri/crates/openpawz-cli/src/commands/config.rs
  src-tauri/crates/openpawz-cli/src/commands/doctor.rs
  src-tauri/crates/openpawz-cli/src/commands/memory.rs
  src-tauri/crates/openpawz-cli/src/commands/mod.rs
  src-tauri/crates/openpawz-cli/src/commands/project.rs
  src-tauri/crates/openpawz-cli/src/commands/session.rs
  src-tauri/crates/openpawz-cli/src/commands/status.rs
  src-tauri/crates/openpawz-cli/src/commands/task.rs
  src-tauri/crates/openpawz-cli/src/main.rs
  src/security.test.ts
  src/security.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy
