Repository elisplash/paw: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

# prek (https://github.com/j178/prek) — fast pre-commit hooks, drop-in replacement
# Install: curl -LsSf https://github.com/j178/prek/releases/latest/download/prek-installer.sh | sh
# Setup:   prek install
# Run all: prek run --all-files

repos:
  # ── General file hygiene ────────────────────────────────────────
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md,mdx]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: mixed-line-endings
        args: [--fix=lf]
      - id: no-commit-to-branch
        args: [--branch, main]

  # ── TypeScript / JavaScript ─────────────────────────────────────
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npx eslint --max-warnings 0
        language: system
        files: '^src/.*\.ts$'
        exclude: '\.test\.ts$'
        types: [ts]

      - id: prettier
        name: prettier
        entry: npx prettier --check
        language: system
        files: '^src/.*\.ts$'
        types: [ts]

      - id: typecheck
        name: tsc --noEmit
        entry: npx tsc --noEmit
        language: system
        pass_filenames: false
        files: '^src/.*\.ts$'
        types: [ts]

  # ── Rust ────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
        language: system
        files: '^src-tauri/.*\.rs$'
        types: [rust]

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings
        language: system
        pass_filenames: false
        files: '^src-tauri/.*\.rs$'
        types: [rust]

  # ── Commit message ─────────────────────────────────────────────
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

fix: use floor_char_boundary for all string truncation to prevent UTF-8 panics
  src-tauri/src/commands/chat.rs
  src-tauri/src/engine/agent_loop/mod.rs
  src-tauri/src/engine/irc.rs
  src-tauri/src/engine/mattermost.rs
  src-tauri/src/engine/memory/embedding.rs
  src-tauri/src/engine/memory/mod.rs
  src-tauri/src/engine/nostr/relay.rs
  src-tauri/src/engine/sandbox.rs
  src-tauri/src/engine/sessions/memories.rs
  src-tauri/src/engine/slack.rs
  src-tauri/src/engine/tools/telegram.rs
  src-tauri/src/engine/whatsapp/messages.rs
Due: cargo-fmt, cargo-clippy

fix: stop button + multi-session concurrent streaming
  src/engine/molecules/event_bus.ts
  src/engine/organisms/chat_controller.ts
  src/state/index.ts
Due: eslint, prettier, typecheck

feat(engine): inject coding guidelines into every system prompt
  src-tauri/src/engine/chat.rs
Due: cargo-fmt, cargo-clippy

fix(discord): stop retrying on fatal errors, re-read token on reconnect
  src-tauri/src/engine/discord.rs
Due: cargo-fmt, cargo-clippy

fix(discord): always prefer skill vault token over stale bridge config
  src-tauri/src/engine/discord.rs
Due: cargo-fmt, cargo-clippy

fix(tools): auto-include fetch+exec when integration skills are enabled
  src-tauri/src/engine/chat.rs
Due: cargo-fmt, cargo-clippy

fix(discord): stop agent from chasing community skills, use fetch directly
  src-tauri/src/engine/discord.rs
  src-tauri/src/engine/skills/builtins.rs
Due: cargo-fmt, cargo-clippy

fix(discord): example-driven skill instructions + cap channel context window
  src-tauri/src/engine/channels/agent.rs
  src-tauri/src/engine/skills/builtins.rs
Due: cargo-fmt, cargo-clippy

fix(channels): auto-detect and clear poisoned session history
  src-tauri/src/engine/channels/agent.rs
Due: cargo-fmt, cargo-clippy

fix(discord): inject full API reference into channel context, bypass compression
  src-tauri/src/engine/discord.rs
  src-tauri/src/engine/skills/builtins.rs
  src/state/index.ts
  src/views/settings-main/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

fix(channels): lean system prompt for channel bridges — 10x smaller
  src-tauri/src/engine/channels/agent.rs
Due: cargo-fmt, cargo-clippy

fix(channels): use default model for channel bridges, not worker_model
  src-tauri/src/engine/channels/agent.rs
Due: cargo-fmt, cargo-clippy

fix(channels): strip system prompt from 15K to ~5K, clear poisoned sessions
  src-tauri/src/engine/channels/agent.rs
  src-tauri/src/engine/providers/google.rs
Due: cargo-fmt, cargo-clippy

fix(channels): disable Gemini thinking + add discord_setup_channels tool
  src-tauri/src/engine/channels/agent.rs
  src-tauri/src/engine/discord.rs
  src-tauri/src/engine/providers/google.rs
  src-tauri/src/engine/tools/discord_setup.rs
  src-tauri/src/engine/tools/mod.rs
Due: cargo-fmt, cargo-clippy

refactor(engine): extract organisms from commands, prompts to files, agent_loop helpers
  src-tauri/src/commands/task.rs
  src-tauri/src/engine/agent_loop/helpers.rs
  src-tauri/src/engine/agent_loop/mod.rs
  src-tauri/src/engine/chat.rs
  src-tauri/src/engine/discord.rs
  src-tauri/src/engine/events.rs
  src-tauri/src/engine/mod.rs
  src-tauri/src/engine/prompts/coding.md
  src-tauri/src/engine/prompts/platform.md
  src-tauri/src/engine/tasks.rs
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix(discord): idempotent setup, delete tool, disable auto-compaction
  src-tauri/src/commands/chat.rs
  src-tauri/src/engine/channels/agent.rs
  src-tauri/src/engine/skills/builtins.rs
  src-tauri/src/engine/tool_index.rs
  src-tauri/src/engine/tools/discord_setup.rs
Due: cargo-fmt, cargo-clippy

feat(discord): complete 23-tool suite in atomic discord/ module
  src-tauri/src/engine/channels/agent.rs
  src-tauri/src/engine/discord.rs
  src-tauri/src/engine/skills/builtins.rs
  src-tauri/src/engine/tool_index.rs
  src-tauri/src/engine/tools/discord/channels.rs
  src-tauri/src/engine/tools/discord/members.rs
  src-tauri/src/engine/tools/discord/messages.rs
  src-tauri/src/engine/tools/discord/mod.rs
  src-tauri/src/engine/tools/discord/roles.rs
  src-tauri/src/engine/tools/discord/server.rs
  src-tauri/src/engine/tools/discord_setup.rs
  src-tauri/src/engine/tools/mod.rs
Due: cargo-fmt, cargo-clippy

fix(ci): correct mixed-line-ending hook id (was mixed-line-endings)
  .pre-commit-config.yaml
Due: none

fix(clippy): use .is_none() and .clamp() to satisfy -D warnings
  src-tauri/src/engine/tools/agents.rs
  src-tauri/src/engine/tools/discord/members.rs
  src-tauri/src/engine/tools/discord/messages.rs
Due: cargo-fmt, cargo-clippy

fix(ci): quote trailing-whitespace args to prevent YAML comma split
  .pre-commit-config.yaml
Due: none

fix(ci): skip no-commit-to-branch in CI, add Discord/X/Instagram badges
  .github/workflows/ci.yml
  README.md
Due: none

chore: contributor infrastructure — issue config, labels, CONTRIBUTING quick-start, README contributing section
  .github/ISSUE_TEMPLATE/config.yml
  CONTRIBUTING.md
  README.md
Due: none

docs: link README roadmap to GitHub milestones
  README.md
Due: none

fix(ci): skip cargo-fmt and cargo-clippy in prek job (no system deps — covered by Rust job)
  .github/workflows/ci.yml
Due: none

docs: clarify Node.js is build-time only, not a runtime dependency
  README.md
Due: none

adding Windows OS dependency to src-tauri/src/memory/ollama.rs
  src-tauri/src/engine/memory/ollama.rs
Due: cargo-fmt, cargo-clippy

feat: Phase 2 & 3 — Native PawzHub marketplace + unified card component
  SKILLS_WORKSPACE_PLAN.md
  index.html
  src-tauri/tauri.conf.json
  src/components/molecules/skill-card.ts
  src/main.ts
  src/styles.css
  src/views/pawzhub/atoms.ts
  src/views/pawzhub/index.ts
  src/views/pawzhub/molecules.ts
  src/views/router.ts
  src/views/settings-skills/index.ts
  src/views/settings-skills/summary-bar.ts
  src/views/settings-skills/tab-active.ts
  src/views/settings-skills/tab-create.ts
  src/views/settings-skills/tab-extensions.ts
  src/views/settings-skills/tab-integrations.ts
  src/views/settings-skills/tab-tools.ts
Due: eslint, prettier, typecheck

Phase 2: Sidebar consolidation — 17 tabs → 11
  index.html
  src/views/router.ts
  src/views/settings-tabs.ts
  src/views/tasks/index.ts
Due: eslint, prettier, typecheck

Phase 5: Keyboard Power + Command Palette 2.0
  src/components/command-palette/atoms.test.ts
  src/components/command-palette/atoms.ts
  src/components/command-palette/index.ts
  src/components/command-palette/molecules.ts
  src/main.ts
  src/styles.css
  src/views/tasks/index.ts
Due: eslint, prettier, typecheck

docs: n8n deep integration plan — 6 phases
  N8N_INTEGRATION_PLAN.md
Due: none

fix: resolve clippy warnings in n8n commands
  src-tauri/src/commands/n8n.rs
Due: cargo-fmt, cargo-clippy

feat(n8n): Phase 0 — embedded engine lifecycle (atomic split)
  .gitignore
  N8N_INTEGRATION_PLAN.md
  src-tauri/src/commands/n8n.rs
  src-tauri/src/engine/mod.rs
  src-tauri/src/engine/n8n_engine/docker.rs
  src-tauri/src/engine/n8n_engine/health.rs
  src-tauri/src/engine/n8n_engine/mod.rs
  src-tauri/src/engine/n8n_engine/process.rs
  src-tauri/src/engine/n8n_engine/types.rs
  src-tauri/src/lib.rs
  src/engine/atoms/types.ts
  src/engine/molecules/ipc_client.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

feat(integrations): Phase 2 — Integrations Storefront view
  index.html
  src/styles.css
  src/views/integrations/atoms.ts
  src/views/integrations/catalog.ts
  src/views/integrations/index.ts
  src/views/integrations/molecules.ts
  src/views/router.ts
  src/views/today/molecules.ts
Due: eslint, prettier, typecheck

feat(integrations): Phase 2.5 — per-service setup guides with credential testing
  src-tauri/src/commands/n8n.rs
  src-tauri/src/lib.rs
  src/styles.css
  src/views/integrations/catalog.ts
  src/views/integrations/molecules.ts
  src/views/integrations/setup-guide.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

feat(credentials): Phase 3 — agent-driven credential setup
  src-tauri/src/commands/n8n.rs
  src-tauri/src/lib.rs
  src/components/molecules/credential-prompt.ts
  src/engine/molecules/credential_bridge.ts
  src/styles.css
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

feat: Phase 4 — Execution Observability & Action Logging
  src-tauri/src/commands/action_log.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src/components/molecules/integration-feed.ts
  src/engine/atoms/action-labels.ts
  src/styles.css
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

feat: Phase 5 — Service-Native Tool Names & MCP Bridge
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/tool_bridge.rs
  src-tauri/src/lib.rs
  src/engine/atoms/tool-remap.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

docs: Kinetic Intelligence Engine — complete UI transformation plan
  KINETIC_DESIGN_PLAN.md
Due: none

feat: Phase K-0 — Kinetic design tokens, palette, typography, radius, shadows
  src/styles.css
Due: none

feat: Phase K-2 — sidebar rail, hover expand, 2px active border, section rules
  src/styles.css
Due: none
