Repository elisplash/paw: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

# prek (https://github.com/j178/prek) — fast pre-commit hooks, drop-in replacement
# Install: curl -LsSf https://github.com/j178/prek/releases/latest/download/prek-installer.sh | sh
# Setup:   prek install
# Run all: prek run --all-files

repos:
  # ── General file hygiene ────────────────────────────────────────
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md,mdx]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: mixed-line-endings
        args: [--fix=lf]
      - id: no-commit-to-branch
        args: [--branch, main]

  # ── TypeScript / JavaScript ─────────────────────────────────────
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npx eslint --max-warnings 0
        language: system
        files: '^src/.*\.ts$'
        exclude: '\.test\.ts$'
        types: [ts]

      - id: prettier
        name: prettier
        entry: npx prettier --check
        language: system
        files: '^src/.*\.ts$'
        types: [ts]

      - id: typecheck
        name: tsc --noEmit
        entry: npx tsc --noEmit
        language: system
        pass_filenames: false
        files: '^src/.*\.ts$'
        types: [ts]

  # ── Rust ────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
        language: system
        files: '^src-tauri/.*\.rs$'
        types: [rust]

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings
        language: system
        pass_filenames: false
        files: '^src-tauri/.*\.rs$'
        types: [rust]

  # ── Commit message ─────────────────────────────────────────────
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

style: fix prettier + end-of-file formatting in main.ts, onboarding.ts, _views.css
  src/main.ts
  src/styles/_views.css
  src/views/onboarding.ts
Due: eslint, prettier, typecheck

chore: remove personal attribution, use OpenPawz Contributors
  .github/CODEOWNERS
  ARCHITECTURE.md
  LICENSE
  README.md
  packaging/aur/PKGBUILD
  reference/foreman-protocol.mdx
  reference/librarian-method.mdx
  src-tauri/Cargo.toml
Due: none

docs: add integration guardrails & health guides, fix n8n headings
  docs.json
  guides/integration-guardrails.mdx
  guides/integration-health.mdx
  guides/n8n.mdx
  packaging/aur/PKGBUILD
Due: none

ci: add pre-push hook for all-files hygiene check
  scripts/pre-push
  scripts/prepare-hooks.js
Due: none

chore: remove private planning docs from public repo
  .gitignore
  DASHBOARD_OVERHAUL_PLAN.md
  ENTERPRISE_PLAN.md
  KINETIC_DESIGN_PLAN.md
  SKILLS_WORKSPACE_PLAN.md
  ZERO_GAP_PLAN.md
Due: none

feat(mini-hub): Phases 3-5 — component system, background continuity, squad chat
  src/engine/atoms/mini-hub.ts
  src/engine/atoms/types.ts
  src/engine/molecules/agent_dock.ts
  src/engine/molecules/bridge.ts
  src/engine/molecules/chat_renderer.ts
  src/engine/molecules/event_bus.ts
  src/engine/molecules/mini-hub.ts
  src/engine/organisms/mini_hub_orchestrator.ts
  src/state/index.ts
  src/state/mini-hub.ts
  src/styles/_mini-chat.css
  src/types.ts
Due: eslint, prettier, typecheck

feat(mini-hub): Phase 6 — Rich Input: Attachments & Voice
  src/engine/molecules/mini-hub.ts
  src/styles/_mini-chat.css
Due: eslint, prettier, typecheck

Phase 11 — Agent Inbox (Messenger-style three-panel chat)
  src/engine/atoms/inbox.test.ts
  src/engine/atoms/inbox.ts
  src/engine/molecules/conversation_list.ts
  src/engine/molecules/inbox_sidebar.ts
  src/engine/molecules/inbox_thread.ts
  src/engine/organisms/inbox_controller.ts
  src/main.ts
  src/state/index.ts
  src/styles/_inbox.css
  src/styles/index.css
Due: eslint, prettier, typecheck

fix: lint — template literals + bare catch blocks in inbox modules
  src/engine/atoms/inbox.ts
  src/engine/molecules/inbox_sidebar.ts
  src/engine/organisms/inbox_controller.ts
Due: eslint, prettier, typecheck

fix: auto-approve email_send + harden circuit breaker + log malformed tool args
  src-tauri/src/engine/agent_loop/mod.rs
  src-tauri/src/engine/tools/mod.rs
Due: cargo-fmt, cargo-clippy

fix: sidebar CSS class mismatch + mount inbox after engine connects
  src/engine/organisms/inbox_controller.ts
  src/main.ts
  src/styles/_inbox.css
Due: eslint, prettier, typecheck

refactor: decompose chat_controller + inbox CSS into atomic modules
  src/engine/molecules/chat_attachments.ts
  src/engine/molecules/chat_listeners.ts
  src/engine/molecules/chat_sessions.ts
  src/engine/organisms/chat_controller.ts
  src/styles/_inbox-conv.css
  src/styles/_inbox-sidebar.css
  src/styles/_inbox-thread.css
  src/styles/_inbox.css
Due: eslint, prettier, typecheck

feat: flow visualization engine — text-to-flow parser, SVG canvas, interactive editor
  index.html
  src/features/slash-commands/atoms.ts
  src/features/slash-commands/molecules.ts
  src/styles/_flows.css
  src/styles/index.css
  src/views/flows/atoms.test.ts
  src/views/flows/atoms.ts
  src/views/flows/index.ts
  src/views/flows/molecules.ts
  src/views/flows/parser.test.ts
  src/views/flows/parser.ts
  src/views/router.ts
Due: eslint, prettier, typecheck

feat: flow execution engine — run/pause/stop flows with agent routing + chat reporting
  src/styles/_flows.css
  src/views/flows/chat-reporter.ts
  src/views/flows/executor-atoms.test.ts
  src/views/flows/executor-atoms.ts
  src/views/flows/executor.ts
  src/views/flows/index.ts
  src/views/flows/molecules.ts
Due: eslint, prettier, typecheck

feat(flows): Phase 1 — Kinetic Design pass
  .FLOW_STRATEGY.md
  src/styles/_flows.css
  src/views/flows/chat-reporter.ts
  src/views/flows/index.ts
  src/views/flows/molecules.ts
Due: eslint, prettier, typecheck

feat(flows): Phase 3 — step-by-step debug execution mode
  src/styles/_flows.css
  src/views/flows/executor-atoms.test.ts
  src/views/flows/executor-atoms.ts
  src/views/flows/executor.ts
  src/views/flows/index.ts
  src/views/flows/molecules.ts
Due: eslint, prettier, typecheck

feat(flows): Phase 5 — schedule trigger wiring with cron parser
  src/styles/_flows.css
  src/views/flows/executor-atoms.test.ts
  src/views/flows/executor-atoms.ts
  src/views/flows/index.ts
  src/views/flows/molecules.ts
Due: eslint, prettier, typecheck

docs: mark all 6 phases complete in .FLOW_STRATEGY.md
  .FLOW_STRATEGY.md
Due: none

fix(css): add standard line-clamp property for compatibility
  src/styles/_flows.css
Due: none

fix: rename nodes→integrations & update 400→25,000+ counts
  .FLOW_STRATEGY.md
  index.html
  src/views/flows/index.ts
  src/views/flows/molecules.ts
  src/views/integrations/catalog.ts
  src/views/today/molecules.ts
Due: eslint, prettier, typecheck

docs: add Flows guide & update features page
  docs.json
  guides/flows.mdx
  start/features.mdx
Due: none

fix(group-chat): persist group metadata in localStorage
  src/engine/molecules/chat_sessions.ts
  src/engine/organisms/chat_controller.ts
  src/engine/organisms/inbox_controller.ts
  src/state/index.ts
Due: eslint, prettier, typecheck

refactor: move theme picker from sidebar dropdown to settings grid
  index.html
  src/components/molecules/theme.ts
  src/styles/_sidebar.css
  src/styles/_theme-toggle.css
Due: eslint, prettier, typecheck

style: fix prettier formatting across 34 files
  src/components/chat-mission-panel.ts
  src/components/molecules/theme.ts
  src/engine/atoms/inbox.test.ts
  src/engine/atoms/inbox.ts
  src/engine/atoms/mini-hub.ts
  src/engine/molecules/chat_input.test.ts
  src/engine/molecules/chat_input.ts
  src/engine/molecules/chat_listeners.ts
  src/engine/molecules/chat_renderer.test.ts
  src/engine/molecules/chat_renderer.ts
  src/engine/molecules/chat_sessions.ts
  src/engine/molecules/conversation_list.ts
  src/engine/molecules/event_bus.ts
  src/engine/molecules/inbox_sidebar.ts
  src/engine/molecules/inbox_thread.ts
  src/engine/molecules/mini-hub.ts
  src/engine/molecules/token_meter.ts
  src/engine/organisms/chat_controller.ts
  src/engine/organisms/inbox_controller.ts
  src/engine/organisms/mini_hub_orchestrator.ts
  src/state/index.ts
  src/state/mini-hub.test.ts
  src/state/mini-hub.ts
  src/views/flows/atoms.test.ts
  src/views/flows/atoms.ts
  src/views/flows/chat-reporter.ts
  src/views/flows/executor-atoms.test.ts
  src/views/flows/executor-atoms.ts
  src/views/flows/executor.ts
  src/views/flows/index.ts
  src/views/flows/molecules.ts
  src/views/flows/parser.test.ts
  src/views/flows/parser.ts
  src/views/flows/templates.ts
Due: eslint, prettier, typecheck

docs: rewrite flow strategy with Conductor Protocol
  .flow_strategy.md
Due: none

perf(flows): Phase 0 — Quick Wins for flow execution & canvas
  src/views/flows/executor.ts
  src/views/flows/molecules.ts
Due: eslint, prettier, typecheck

refactor(flows): split god-files into atomic modules
  src/views/flows/canvas-molecules.ts
  src/views/flows/cron-atoms.ts
  src/views/flows/executor-atoms.ts
  src/views/flows/list-molecules.ts
  src/views/flows/molecule-state.ts
  src/views/flows/molecules.ts
  src/views/flows/panel-molecules.ts
  src/views/flows/sandbox-atoms.ts
  src/views/flows/template-molecules.ts
  src/views/flows/toolbar-molecules.ts
  src/views/flows/variable-atoms.ts
Due: eslint, prettier, typecheck

feat(flows): Phase 4 — AI Superpowers
  src/views/flows/ai-builder-atoms.ts
  src/views/flows/ai-superpowers.test.ts
  src/views/flows/atoms.ts
  src/views/flows/conductor-atoms.ts
  src/views/flows/executor-atoms.ts
  src/views/flows/executor.ts
  src/views/flows/index.ts
  src/views/flows/memory-flow-atoms.ts
  src/views/flows/panel-molecules.ts
  src/views/flows/self-healing-atoms.ts
  src/views/flows/smart-condition-atoms.ts
  src/views/flows/suggestion-atoms.ts
  src/views/flows/templates.ts
Due: eslint, prettier, typecheck

feat(flows): Phase 5 — Sick UI (minimap, previews, animations, validation, alignment, strategy overlay, shortcuts)
  src/styles/_flows.css
  src/views/flows/alignment-molecules.ts
  src/views/flows/animation-molecules.ts
  src/views/flows/canvas-molecules.ts
  src/views/flows/minimap-molecules.ts
  src/views/flows/molecules.ts
  src/views/flows/preview-molecules.ts
  src/views/flows/shortcuts-molecules.ts
  src/views/flows/sick-ui.test.ts
  src/views/flows/strategy-overlay-molecules.ts
  src/views/flows/toolbar-molecules.ts
  src/views/flows/validation-molecules.ts
Due: eslint, prettier, typecheck

refactor: split god files in flows directory
  src/views/flows/canvas-interaction.ts
  src/views/flows/canvas-molecules.ts
  src/views/flows/canvas-render.ts
  src/views/flows/canvas-state.ts
  src/views/flows/conductor-atoms.ts
  src/views/flows/conductor-collapse.ts
  src/views/flows/conductor-graph.ts
  src/views/flows/conductor-parallel.ts
  src/views/flows/executor-conductor.ts
  src/views/flows/executor-debug.ts
  src/views/flows/executor-handlers.ts
  src/views/flows/executor.ts
  src/views/flows/flows-keybindings.ts
  src/views/flows/flows-persistence.ts
  src/views/flows/flows-scheduler.ts
  src/views/flows/index.ts
  src/views/flows/panel-config-fields.ts
  src/views/flows/panel-molecules.ts
  src/views/flows/templates-advanced.ts
  src/views/flows/templates-core.ts
  src/views/flows/templates-workflows.ts
  src/views/flows/templates.ts
Due: eslint, prettier, typecheck

fix: inbox panel toggle buttons now properly show/hide and update icons
  src/engine/molecules/inbox_thread.ts
  src/engine/organisms/inbox_controller.ts
  src/styles/_inbox-thread.css
Due: eslint, prettier, typecheck

feat: collapsible flows panels with toggle buttons and responsive breakpoints
  src/styles/_flows.css
  src/views/flows/index.ts
  src/views/flows/toolbar-molecules.ts
Due: eslint, prettier, typecheck

fix: add visible edge-tab buttons to reopen collapsed inbox panels
  src/engine/organisms/inbox_controller.ts
  src/styles/_inbox.css
Due: eslint, prettier, typecheck

fix: flows view responsive layout for laptop screens
  index.html
  src/styles/_flows.css
  src/views/flows/index.ts
Due: eslint, prettier, typecheck

docs: add The Conductor Protocol paper to Original Research
  docs.json
  reference/conductor-protocol.mdx
Due: none

docs: add Conductor Protocol to README + strengthen paper
  README.md
  reference/conductor-protocol.mdx
Due: none

fix: auto-fit canvas viewport when creating flows from text
  src/views/flows/index.ts
Due: eslint, prettier, typecheck

fix: community package install timeout and error logging
  src-tauri/src/commands/n8n.rs
  src/views/integrations/community/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

docs: add Integration Inversion section to README and docs site
  README.md
  guides/integrations.mdx
Due: none
