Repository elisplash/paw: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

eslint:
  name: eslint
  entry: npx eslint --max-warnings 0
  language: system

prettier:
  name: prettier
  entry: npx prettier --check
  language: system

typecheck:
  name: tsc --noEmit
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
  language: system

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

fix: move OAUTH_SERVICE_IDS declarations before buildGuide() to prevent TDZ crash
  src/views/integrations/catalog.ts
Due: eslint, prettier, typecheck

Fix/integration awareness oauth guard (#45)
  src/views/integrations/catalog.ts
  src/views/integrations/setup-guide.ts
Due: eslint, prettier, typecheck

fixing login older mac
  src/components/molecules/markdown.ts
Due: eslint, prettier, typecheck

fix: remove Google Keep scope — restricted to Workspace enterprise accounts
  src-tauri/src/engine/oauth.rs
Due: cargo-fmt, cargo-clippy

fix: Google tools look up oauth:google-workspace not oauth:google
  src-tauri/src/commands/integrations.rs
  src-tauri/src/commands/mail.rs
  src-tauri/src/engine/tools/google.rs
Due: cargo-fmt, cargo-clippy

docs: add agent execution roadmap (.AGENT_EXECUTION_ROADMAP.md)
  .AGENT_EXECUTION_ROADMAP.md
Due: none

feat(engine): Phase 1 — Constrained Decoding (zero parse failures)
  src-tauri/src/atoms/types.rs
  src-tauri/src/engine/agent_loop/mod.rs
  src-tauri/src/engine/constrained/atoms.rs
  src-tauri/src/engine/constrained/mod.rs
  src-tauri/src/engine/constrained/molecules.rs
  src-tauri/src/engine/mod.rs
  src-tauri/src/engine/providers/anthropic.rs
  src-tauri/src/engine/providers/google.rs
  src-tauri/src/engine/providers/openai.rs
Due: cargo-fmt, cargo-clippy

feat(engine): Phase 2 — Embedding-Indexed Tool Registry
  src-tauri/src/engine/mod.rs
  src-tauri/src/engine/sessions/mod.rs
  src-tauri/src/engine/sessions/schema.rs
  src-tauri/src/engine/tool_index.rs
  src-tauri/src/engine/tool_registry/atoms.rs
  src-tauri/src/engine/tool_registry/mod.rs
  src-tauri/src/engine/tool_registry/molecules.rs
Due: cargo-fmt, cargo-clippy

feat(engine): Phase 3 — Binary IPC for Internal Communication
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/engine/binary_ipc/atoms.rs
  src-tauri/src/engine/binary_ipc/mod.rs
  src-tauri/src/engine/binary_ipc/molecules.rs
  src-tauri/src/engine/mod.rs
Due: cargo-fmt, cargo-clippy

fix(n8n): restore HMAC-derived owner password (no vault entry deletion)
  src-tauri/src/engine/n8n_engine/health.rs
Due: cargo-fmt, cargo-clippy

Fix/integration awareness oauth guard (#51)
  .AGENT_EXECUTION_ROADMAP.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/atoms/types.rs
  src-tauri/src/commands/n8n.rs
  src-tauri/src/engine/agent_loop/mod.rs
  src-tauri/src/engine/binary_ipc/atoms.rs
  src-tauri/src/engine/binary_ipc/mod.rs
  src-tauri/src/engine/binary_ipc/molecules.rs
  src-tauri/src/engine/chat.rs
  src-tauri/src/engine/constrained/atoms.rs
  src-tauri/src/engine/constrained/mod.rs
  src-tauri/src/engine/constrained/molecules.rs
  src-tauri/src/engine/mod.rs
  src-tauri/src/engine/n8n_engine/docker.rs
  src-tauri/src/engine/n8n_engine/health.rs
  src-tauri/src/engine/n8n_engine/mod.rs
  src-tauri/src/engine/n8n_engine/process.rs
  src-tauri/src/engine/plan/atoms.rs
  src-tauri/src/engine/plan/executor.rs
  src-tauri/src/engine/plan/mod.rs
  src-tauri/src/engine/plan/molecules.rs
  src-tauri/src/engine/prompts/plan.md
  src-tauri/src/engine/providers/anthropic.rs
  src-tauri/src/engine/providers/google.rs
  src-tauri/src/engine/providers/openai.rs
  src-tauri/src/engine/sessions/mod.rs
  src-tauri/src/engine/sessions/schema.rs
  src-tauri/src/engine/speculative/atoms.rs
  src-tauri/src/engine/speculative/mod.rs
  src-tauri/src/engine/speculative/molecules.rs
  src-tauri/src/engine/tool_index.rs
  src-tauri/src/engine/tool_registry/atoms.rs
  src-tauri/src/engine/tool_registry/mod.rs
  src-tauri/src/engine/tool_registry/molecules.rs
  src-tauri/src/engine/tools/google.rs
  src-tauri/src/engine/tools/mod.rs
  src/features/action-dag/atoms.ts
  src/features/action-dag/index.ts
  src/features/action-dag/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

wire: connect Phase 2/3/4 roadmap modules into live agent loop
  src-tauri/.cargo/config.toml
  src-tauri/src/engine/agent_loop/mod.rs
  src-tauri/src/engine/audit.rs
  src-tauri/src/engine/engram/gated_search.rs
  src-tauri/src/engine/engram/memory_bus.rs
  src-tauri/src/engine/plan/executor.rs
  src-tauri/src/engine/sessions/agent_messages.rs
  src-tauri/src/engine/sessions/canvas.rs
  src-tauri/src/engine/sessions/dashboard_tabs.rs
  src-tauri/src/engine/sessions/dashboard_windows.rs
  src-tauri/src/engine/sessions/dashboards.rs
  src-tauri/src/engine/sessions/mod.rs
  src-tauri/src/engine/sessions/skill_outputs.rs
  src-tauri/src/engine/sessions/skill_storage.rs
  src-tauri/src/engine/sessions/squads.rs
  src-tauri/src/engine/sessions/templates.rs
  src-tauri/src/engine/state.rs
  src-tauri/src/engine/tasks.rs
  src-tauri/src/engine/tools/request_tools.rs
  src-tauri/tests/integration.rs
Due: cargo-fmt, cargo-clippy

docs: update all documentation for Agent Execution Architecture
  ARCHITECTURE.md
  CHANGELOG.md
  README.md
  docs.json
  reference/agent-execution-roadmap.mdx
  reference/architecture.mdx
  reference/conductor-protocol.mdx
  reference/foreman-protocol.mdx
  reference/librarian-method.mdx
Due: none

feat: add Azure AI Foundry as first-class provider kind
  src-tauri/src/atoms/types.rs
  src-tauri/src/engine/constrained/atoms.rs
  src-tauri/src/engine/providers/openai.rs
  src-tauri/src/engine/types.rs
  src/components/helpers.ts
  src/views/settings-models/atoms.test.ts
  src/views/settings-models/atoms.ts
  src/views/settings-models/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

fix: overhaul HIL permission bubble UI (VS Code-inspired)
  src/components/molecules/hil_modal.ts
  src/styles/_settings-ext.css
Due: eslint, prettier, typecheck

fix: stop showThread() from unhiding warning banners
  src/engine/molecules/inbox_thread.ts
Due: eslint, prettier, typecheck

ui: compact professional chat redesign
  src/engine/molecules/chat_renderer.test.ts
  src/engine/molecules/chat_renderer.ts
  src/styles/_chat.css
  src/views/flows/flow-agent-molecules.ts
Due: eslint, prettier, typecheck

fix(hil): add VS Code-style dropdown on Continue/Skip buttons
  src/components/molecules/hil_modal.ts
  src/styles/_settings-ext.css
Due: eslint, prettier, typecheck

fix(hil): auto-approve all canvas tools (zero side effects)
  src-tauri/src/engine/agent_loop/mod.rs
  src-tauri/src/engine/orchestrator/agent_loop.rs
  src/features/agent-policies/atoms.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

fix(n8n): revert HMAC password derivation back to vault-backed random
  src-tauri/src/engine/n8n_engine/health.rs
Due: cargo-fmt, cargo-clippy

fix(n8n): UPDATE owner to shell-user state instead of DELETE on 401 recovery
  src-tauri/src/engine/n8n_engine/health.rs
Due: cargo-fmt, cargo-clippy

fix(n8n): password 50 chars (was 66, n8n max is 64)
  src-tauri/src/engine/n8n_engine/health.rs
Due: cargo-fmt, cargo-clippy

fix(circuit-breaker): isolate per provider — o3 failures no longer block Claude
  src-tauri/src/engine/providers/openai.rs
Due: cargo-fmt, cargo-clippy

fix: stop appending api-version to Anthropic Foundry URL + fix Responses API tool format
  src-tauri/src/engine/providers/anthropic.rs
  src-tauri/src/engine/providers/openai.rs
Due: cargo-fmt, cargo-clippy

ui: hide Ollama and provider labels from chat model selector
  src/components/helpers.ts
  src/engine/molecules/mini-hub.ts
  src/main.ts
Due: eslint, prettier, typecheck

feat(forge): wire FORGE IPC commands + enhance 3 frontend surfaces
  index.html
  src-tauri/src/commands/forge.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src/engine/atoms/types.ts
  src/engine/molecules/ipc_client.ts
  src/views/agents/editor.ts
  src/views/memory-palace/molecules.ts
  src/views/settings-skills/index.ts
  src/views/settings-skills/summary-bar.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

fix: detect stale OAuth tokens after rebuild & add reconnect button in chat
  src-tauri/src/commands/oauth.rs
  src-tauri/src/engine/tools/google.rs
  src-tauri/src/lib.rs
  src/engine/molecules/chat_renderer.ts
  src/engine/organisms/chat_controller.ts
  src/styles/_chat.css
  src/views/integrations/detail.ts
  src/views/integrations/index.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

feat: Microsoft 365 OAuth integration — 14 native tools via Graph API
  src-tauri/src/commands/n8n.rs
  src-tauri/src/engine/oauth.rs
  src-tauri/src/engine/prompts/platform.md
  src-tauri/src/engine/skills/builtins.rs
  src-tauri/src/engine/tool_index.rs
  src-tauri/src/engine/tools/microsoft.rs
  src-tauri/src/engine/tools/mod.rs
Due: cargo-fmt, cargo-clippy

harden engram: fix SQL, wire skill_library + context_continuity, schema fixes
  src-tauri/src/atoms/engram_types.rs
  src-tauri/src/engine/agent_loop/mod.rs
  src-tauri/src/engine/compaction.rs
  src-tauri/src/engine/engram/context_continuity.rs
  src-tauri/src/engine/engram/gated_search.rs
  src-tauri/src/engine/engram/graph.rs
  src-tauri/src/engine/engram/mod.rs
  src-tauri/src/engine/engram/schema.rs
  src-tauri/src/engine/engram/skill_library.rs
  src-tauri/src/engine/tasks.rs
Due: cargo-fmt, cargo-clippy

fix: strict schema compliance for gpt-5.1 on Azure + resilience
  src-tauri/src/commands/chat.rs
  src-tauri/src/engine/constrained/atoms.rs
  src-tauri/src/engine/constrained/mod.rs
  src-tauri/src/engine/constrained/molecules.rs
  src-tauri/src/engine/memory/embedding.rs
  src-tauri/src/engine/prompts/platform.md
  src-tauri/src/engine/providers/openai.rs
  src-tauri/src/engine/tool_index.rs
  src-tauri/src/engine/tools/canvas.rs
Due: cargo-fmt, cargo-clippy

Fix/integration awareness oauth guard (#57)
  src-tauri/src/commands/n8n.rs
  src-tauri/src/commands/oauth.rs
  src-tauri/src/engine/mod.rs
  src-tauri/src/engine/oauth.rs
  src-tauri/src/engine/prompts/platform.md
  src-tauri/src/engine/provider_registry.rs
  src-tauri/src/engine/providers.json
  src-tauri/src/engine/registrations.json
  src-tauri/src/engine/skills/builtins.rs
  src-tauri/src/engine/tool_index.rs
  src-tauri/src/engine/tools/google.rs
  src-tauri/src/engine/tools/microsoft.rs
  src-tauri/src/engine/tools/mod.rs
  src-tauri/src/engine/tools/service_api.rs
  src-tauri/src/lib.rs
  src/engine/molecules/chat_renderer.ts
  src/engine/organisms/chat_controller.ts
  src/styles/_chat.css
  src/views/integrations/detail.ts
  src/views/integrations/index.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

docs: rewrite OAuth registration instructions — clear, correct, no contradictions
  docs/oauth-registration-checklist.md
Due: none

docs: add complete OAuth registration guide with step-by-step walkthroughs
  docs/oauth-app-registration.md
  docs/oauth-registration-checklist.md
Due: none

fixing test
  src/features/integration-health/atoms.test.ts
Due: prettier, typecheck

feat(dashboard): replace hero tesseract with logo + status ring
  src/components/hero-logo.ts
  src/views/today/molecules.ts
Due: eslint, prettier, typecheck

fix(today): dashboard audit — bugs, redundancy, UX improvements
  src/components/molecules/data-viz.ts
  src/features/integration-health/molecules.ts
  src/styles/_cards.css
  src/styles/_today.css
  src/views/today/atoms.test.ts
  src/views/today/atoms.ts
  src/views/today/index.ts
  src/views/today/molecules.ts
Due: eslint, prettier, typecheck

feat(today): Engram brain card, quick-memory modal, recent sessions, new quick actions
  src/components/molecules/engram-brain.ts
  src/styles/_today.css
  src/views/today/index.ts
  src/views/today/molecules.ts
Due: eslint, prettier, typecheck

Fix/integration awareness oauth guard (#59)
  src/components/animations.ts
  src/components/hero-logo.ts
  src/components/molecules/data-viz.ts
  src/components/molecules/engram-brain.ts
  src/features/integration-health/molecules.ts
  src/styles/_cards.css
  src/styles/_today.css
  src/views/today/atoms.test.ts
  src/views/today/atoms.ts
  src/views/today/index.ts
  src/views/today/molecules.ts
Due: eslint, prettier, typecheck

feat(today): replace mail card with Signal Flow canvas
  src/components/molecules/signal-flow.ts
  src/styles/_today.css
  src/views/today/index.ts
  src/views/today/molecules.ts
Due: eslint, prettier, typecheck

Path conditions:
  eslint: any of: ^src/.*\.ts$ and \.(ts|mts|cts)$ and not (\.test\.ts$)
  prettier: any of: ^src/.*\.ts$ and \.(ts|mts|cts)$
  typecheck: any of: ^src/.*\.ts$ and \.(ts|mts|cts)$
  cargo-fmt: any of: ^src-tauri/.*\.rs$ and \.rs$
  cargo-clippy: any of: ^src-tauri/.*\.rs$ and \.rs$
