Repository elisplash/paw: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

eslint:
  name: eslint
  entry: npx eslint --max-warnings 0
  language: system

prettier:
  name: prettier
  entry: npx prettier --check
  language: system

typecheck:
  name: tsc --noEmit
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
  language: system

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

docs: enlarge screenshots to stacked layout for better visibility
  README.md
Due: none

docs: convert SECURITY.md architecture diagram to Mermaid
  SECURITY.md
Due: none

feat: MCP bridge for n8n — SSE transport, auto-registration, community nodes, workflow deployer
  src-tauri/src/commands/n8n.rs
  src-tauri/src/engine/mcp/client.rs
  src-tauri/src/engine/mcp/mod.rs
  src-tauri/src/engine/mcp/registry.rs
  src-tauri/src/engine/mcp/transport.rs
  src-tauri/src/engine/n8n_engine/docker.rs
  src-tauri/src/engine/n8n_engine/process.rs
  src-tauri/src/lib.rs
  src/views/integrations/index.ts
  src/views/integrations/setup-guide.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

docs: Zero-Gap Automation plan + Qwen worker Modelfile
  ZERO_GAP_PLAN.md
  resources/ollama/worker-qwen.Modelfile
Due: none

feat: Phase 3 — NCNodes discovery + agent tools (search, install, refresh)
  src-tauri/src/commands/n8n.rs
  src-tauri/src/engine/orchestrator/agent_loop.rs
  src-tauri/src/engine/tools/n8n.rs
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat: Phase 4+5 — Architect/Worker handoff + tool name remapping
  ZERO_GAP_PLAN.md
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/ollama.rs
  src-tauri/src/engine/mcp/registry.rs
  src-tauri/src/engine/orchestrator/sub_agent.rs
  src-tauri/src/engine/orchestrator/tools.rs
  src-tauri/src/lib.rs
  src/views/settings-advanced/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

feat: Phase 6.1 — Community node browser UI
  ZERO_GAP_PLAN.md
  src/styles/_community-browser.css
  src/styles/index.css
  src/views/integrations/community/atoms.ts
  src/views/integrations/community/index.ts
  src/views/integrations/community/molecules.ts
  src/views/integrations/molecules.ts
Due: eslint, prettier, typecheck

feat: Phase 6.2 — On-demand community package auto-install
  ZERO_GAP_PLAN.md
  src/styles/_community-browser.css
  src/views/integrations/atoms.ts
  src/views/integrations/community/atoms.ts
  src/views/integrations/community/index.ts
  src/views/integrations/molecules.ts
Due: eslint, prettier, typecheck

chore: switch worker base model to qwen2.5-coder:7b
  ZERO_GAP_PLAN.md
  resources/ollama/worker-qwen.Modelfile
  src-tauri/src/commands/ollama.rs
  src/views/settings-advanced/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

security: certificate pinning, request signing, memory zeroing
  README.md
  SECURITY.md
  guides/memory.mdx
  guides/n8n.mdx
  packaging/aur/PKGBUILD
  packaging/flatpak/openpawz.metainfo.xml
  packaging/snap/snapcraft.yaml
  providers/overview.mdx
  reference/architecture.mdx
  reference/quality.mdx
  reference/security.mdx
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/engine/http.rs
  src-tauri/src/engine/providers/anthropic.rs
  src-tauri/src/engine/providers/google.rs
  src-tauri/src/engine/providers/openai.rs
  start/features.mdx
  start/getting-started.mdx
  start/overview.mdx
Due: cargo-fmt, cargo-clippy

docs: update all remaining 400+ references to 25,000+ via MCP bridge
  channels/overview.mdx
  guides/skills.mdx
  reference/architecture.mdx
  start/features.mdx
  start/getting-started.mdx
  start/showcase.mdx
Due: none

HOTFIX: lint fix
  src/main.ts
Due: eslint, prettier, typecheck

fix: Today dashboard cards stuck on Loading...
  src/views/today/index.ts
  src/views/today/molecules.ts
Due: eslint, prettier, typecheck

fix: agent dock tooltips clipped by overflow:hidden
  src/styles/_mini-chat.css
Due: none

style: fix prettier formatting in molecules.ts
  src/views/today/molecules.ts
Due: eslint, prettier, typecheck

feat: wire worker-qwen into main chat loop for MCP tool delegation
  src-tauri/src/engine/tools/mod.rs
  src-tauri/src/engine/tools/worker_delegate.rs
Due: cargo-fmt, cargo-clippy

docs: update Ollama + MCP Bridge worker architecture docs
  guides/mcp-bridge.mdx
  guides/n8n.mdx
  start/installation.mdx
Due: none

Add Librarian Method & Foreman Protocol case studies
  ARCHITECTURE.md
  README.md
  docs.json
  reference/foreman-protocol.mdx
  reference/librarian-method.mdx
Due: none

Rewrite papers: remove model-specific cost/token numbers
  README.md
  reference/foreman-protocol.mdx
  reference/librarian-method.mdx
Due: none

Foreman Protocol: rewrite as bidirectional service access
  reference/foreman-protocol.mdx
Due: none

Social preview: black background, white Open + red Pawz
  images/social-preview.png
Due: none

Social preview: Space Grotesk font, proper Open Pawz spacing
  images/social-preview.png
Due: none

Social preview: bigger logo, centered layout
  images/social-preview.png
Due: none

Integration Hub: detect Rust skill connections, green live dot, Edit button, fix NaN tools
  src/components/integrations-panel.ts
  src/styles/_integrations.css
  src/views/integrations/index.ts
  src/views/integrations/molecules.ts
Due: eslint, prettier, typecheck

Foreman Protocol: inject MCP bridge awareness into system prompt
  src-tauri/src/commands/chat.rs
  src-tauri/src/engine/chat.rs
  src-tauri/src/engine/prompts/foreman.md
Due: cargo-fmt, cargo-clippy

fix: Slack auth.test + enforce Foreman Protocol
  src-tauri/src/commands/n8n.rs
  src-tauri/src/engine/chat.rs
  src-tauri/src/engine/prompts/foreman.md
  src-tauri/src/engine/tools/exec.rs
  src-tauri/src/engine/tools/fetch.rs
  src/views/integrations/catalog.ts
  src/views/integrations/setup-guide.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

fix: add scroll to mission panel sections
  src/styles/_chat-mission.css
Due: none

fix: mission panel box scrolling — match Skills page pattern
  src/styles/_chat-mission.css
Due: none

fix: add min-height: 0 + overflow scroll rules across all views
  src/styles/_automations.css
  src/styles/_chat.css
  src/styles/_community-browser.css
  src/styles/_integrations.css
  src/styles/_memory.css
  src/styles/_orchestrator.css
  src/styles/_projects.css
  src/styles/_research.css
  src/styles/_squads.css
  src/styles/_studio.css
  src/styles/_today.css
Due: none

security: fix minimatch ReDoS vulnerability (npm audit fix)
  package-lock.json
Due: none

docs: use GitHub user-attachments URL for inline video playback
  README.md
Due: none

feat(weather): switch from wttr.in to Open-Meteo API
  src-tauri/src/commands/utility.rs
  src-tauri/src/engine/http.rs
  src/views/today/atoms.ts
  src/views/today/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

fix(weather): add logging + early-return on empty location
  src-tauri/src/commands/utility.rs
  src/views/integrations/catalog.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

feat(weather): add geocoding validation on credential test
  src-tauri/src/commands/n8n.rs
Due: cargo-fmt, cargo-clippy

fix(weather): handle 'City, State' format in geocoding
  src-tauri/src/commands/n8n.rs
  src-tauri/src/commands/utility.rs
Due: cargo-fmt, cargo-clippy

feat: multi-provider worker support — Foreman works with any AI provider
  reference/foreman-protocol.mdx
  src-tauri/src/engine/prompts/foreman.md
  src-tauri/src/engine/tools/worker_delegate.rs
  src/views/settings-advanced/molecules.ts
  src/views/settings-models/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

fix: topic-switch loop detection, clippy warning, and weather icon codes
  src-tauri/src/engine/agent_loop/mod.rs
  src-tauri/src/engine/chat.rs
  src-tauri/src/engine/tools/worker_delegate.rs
  src/views/today/atoms.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

style: fix prettier formatting in today/atoms.ts
  src/views/today/atoms.ts
Due: eslint, prettier, typecheck

feat: onboarding wizard — first-run setup flow
  index.html
  src/main.ts
  src/styles/_views.css
  src/views/onboarding.ts
  src/views/router.ts
Due: eslint, prettier, typecheck

Path conditions:
  eslint: any of: ^src/.*\.ts$ and \.(ts|mts|cts)$ and not (\.test\.ts$)
  prettier: any of: ^src/.*\.ts$ and \.(ts|mts|cts)$
  typecheck: any of: ^src/.*\.ts$ and \.(ts|mts|cts)$
  cargo-fmt: any of: ^src-tauri/.*\.rs$ and \.rs$
  cargo-clippy: any of: ^src-tauri/.*\.rs$ and \.rs$
