Repository elisplash/paw: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

# prek (https://github.com/j178/prek) — fast pre-commit hooks, drop-in replacement
# Install: curl -LsSf https://github.com/j178/prek/releases/latest/download/prek-installer.sh | sh
# Setup:   prek install
# Run all: prek run --all-files

repos:
  # ── General file hygiene ────────────────────────────────────────
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md,mdx]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: mixed-line-endings
        args: [--fix=lf]
      - id: no-commit-to-branch
        args: [--branch, main]

  # ── TypeScript / JavaScript ─────────────────────────────────────
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npx eslint --max-warnings 0
        language: system
        files: '^src/.*\.ts$'
        exclude: '\.test\.ts$'
        types: [ts]

      - id: prettier
        name: prettier
        entry: npx prettier --check
        language: system
        files: '^src/.*\.ts$'
        types: [ts]

      - id: typecheck
        name: tsc --noEmit
        entry: npx tsc --noEmit
        language: system
        pass_filenames: false
        files: '^src/.*\.ts$'
        types: [ts]

  # ── Rust ────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
        language: system
        files: '^src-tauri/.*\.rs$'
        types: [rust]

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings
        language: system
        pass_filenames: false
        files: '^src-tauri/.*\.rs$'
        types: [rust]

  # ── Commit message ─────────────────────────────────────────────
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

docs(engram): update Architecture Overview + Hybrid Search mermaid charts
  ENGRAM.md
Due: none

feat(flows): add Ctrl+B / Ctrl+P keyboard shortcuts for panel toggles
  src/views/flows/flows-keybindings.ts
  src/views/flows/index.ts
Due: eslint, prettier, typecheck

feat(flows): add Flow Architect agent panel
  index.html
  src/styles/_flows.css
  src/views/flows/flow-agent-atoms.ts
  src/views/flows/flow-agent-molecules.ts
  src/views/flows/flows-keybindings.ts
  src/views/flows/index.ts
  src/views/flows/toolbar-molecules.ts
Due: eslint, prettier, typecheck

fix(flows): wire toggle-agent toolbar action to event dispatcher
  src/views/flows/toolbar-molecules.ts
Due: eslint, prettier, typecheck

feat(flows): add sidebar collapse button in flow list header
  src/views/flows/list-molecules.ts
Due: eslint, prettier, typecheck

fix(engine): auto-create session for custom session IDs
  src-tauri/src/commands/chat.rs
Due: cargo-fmt, cargo-clippy

feat(flow-architect): comprehensive system prompt rewrite
  src/views/flows/flow-agent-atoms.ts
Due: eslint, prettier, typecheck

fix: community node install - skip heavy binaries, add timeout/progress/cancel
  src-tauri/src/commands/n8n.rs
  src-tauri/src/engine/n8n_engine/docker.rs
  src-tauri/src/lib.rs
  src/styles/_community-browser.css
  src/views/integrations/community/index.ts
  src/views/integrations/community/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

fix: n8n community packages install/uninstall, MCP auto-setup, confirm modals
  CHANGELOG.md
  guides/integrations.mdx
  guides/mcp-bridge.mdx
  guides/n8n.mdx
  package.json
  reference/security.mdx
  src-tauri/src/commands/n8n.rs
  src-tauri/src/engine/n8n_engine/docker.rs
  src-tauri/src/engine/n8n_engine/health.rs
  src-tauri/src/engine/n8n_engine/mod.rs
  src-tauri/src/engine/n8n_engine/process.rs
  src/styles/_community-browser.css
  src/views/integrations/community/molecules.ts
  src/views/memory-palace/molecules.ts
  src/views/settings-mcp/molecules.ts
  src/views/settings-storage.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

ci: switch from npm to pnpm in GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore: migrate fully to pnpm, remove package-lock.json
  .gitignore
  CONTRIBUTING.md
  README.md
  package-lock.json
  reference/architecture.mdx
  reference/troubleshooting.mdx
  start/getting-started.mdx
  start/installation.mdx
Due: none

fix: Azure AI Foundry auth — use x-api-key header for .services.ai.azure.com
  src-tauri/src/engine/providers/anthropic.rs
Due: cargo-fmt, cargo-clippy

feat: infinite scroll + real download counts for community packages
  src-tauri/src/commands/n8n.rs
  src/styles/_community-browser.css
  src/views/integrations/community/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

fix(community): credential detection fallback + post-install configure button
  src-tauri/src/commands/n8n.rs
  src/views/integrations/community/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

fix(rust): add missing from arg to ncnodes call site, fix borrow checker
  src-tauri/src/commands/n8n.rs
  src-tauri/src/engine/tools/n8n.rs
Due: cargo-fmt, cargo-clippy

feat(credentials): add setup guide links to credential forms
  src-tauri/src/commands/n8n.rs
  src/styles/_community-browser.css
  src/views/integrations/community/atoms.ts
  src/views/integrations/community/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

fix(credentials): link setup guides to npm package page, not n8n docs
  src-tauri/src/commands/n8n.rs
  src/views/integrations/community/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

docs: add mermaid diagrams throughout ENGRAM.md for visual improvement
  ENGRAM.md
Due: none

style: fix prettier formatting in api-docs and credential-data
  src/views/integrations/api-docs.ts
  src/views/integrations/credential-data.ts
Due: eslint, prettier, typecheck

test: Added new test cases around workspace, prompt injection and security
  src/error-boundary.test.ts
  src/features/agent-policies/atoms.test.ts
  src/features/browser-sandbox/atoms.test.ts
  src/features/container-sandbox/atoms.test.ts
  src/features/container-sandbox/atoms.ts
  src/features/memory-intelligence/atoms.test.ts
  src/features/prompt-injection/atoms.test.ts
  src/logger.test.ts
  src/security.test.ts
  src/workspace.test.ts
Due: eslint, prettier, typecheck

test: add 125 tests across n8n, chat, integrations, and memory modules (1920→2045)
  src/engine/atoms/chat.test.ts
  src/engine/molecules/chat_input.test.ts
  src/engine/molecules/chat_renderer.test.ts
  src/features/integration-guardrails/atoms.test.ts
  src/features/integration-health/atoms.test.ts
  src/features/memory-intelligence/atoms.test.ts
  src/features/session-compaction/atoms.test.ts
  src/views/flows/ai-superpowers.test.ts
  src/views/integrations/atoms.test.ts
  src/views/integrations/community/atoms.test.ts
  src/views/settings-n8n/atoms.test.ts
Due: prettier, typecheck

feat(simulation): add Holodeck flow simulation engine with stress tests
  src/views/flows/simulation/index.ts
  src/views/flows/simulation/simulation-atoms.ts
  src/views/flows/simulation/simulation-runtime.ts
  src/views/flows/simulation/simulation-scenarios.ts
  src/views/flows/simulation/simulation-stress-scenarios.ts
  src/views/flows/simulation/simulation-stress.test.ts
  src/views/flows/simulation/simulation.test.ts
Due: eslint, prettier, typecheck

feat: integrate anime.js v4 for smooth UI animations
  .gitignore
  package.json
  pnpm-lock.yaml
  src/components/animations.ts
  src/components/toast.ts
  src/main.ts
  src/views/agents/molecules.ts
  src/views/flows/list-molecules.ts
  src/views/lock-screen.ts
  src/views/router.ts
  src/views/today/index.ts
Due: eslint, prettier, typecheck

feat(voice): add free Web Speech API dictation — zero-config STT
  src-tauri/src/commands/tts.rs
  src/engine/atoms/types.ts
  src/engine/molecules/tts.ts
  src/engine/molecules/web-speech.ts
  src/views/settings-voice/index.ts
  src/views/settings-voice/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

feat(notifications): wire up notification center — persistence, navigation, producers
  index.html
  src/components/molecules/hil_modal.ts
  src/components/notifications/atoms.ts
  src/components/notifications/index.ts
  src/components/notifications/molecules.ts
  src/components/webhook-log/molecules.ts
  src/styles/_notifications.css
  src/views/channels/molecules.ts
  src/views/flows/executor.ts
  src/views/tasks/molecules.ts
Due: eslint, prettier, typecheck

fix(macos): add camera and microphone permissions for macOS
  src-tauri/Entitlements.plist
  src-tauri/tauri.conf.json
Due: none

style: fix prettier + cargo fmt formatting
  src-tauri/src/engine/agent_loop/mod.rs
  src/components/molecules/hil_modal.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

fix(macos): move infoPlist to external file
  src-tauri/Info.plist
  src-tauri/tauri.conf.json
Due: none

docs: update SECURITY.md, memory.mdx, security.mdx with all new features
  SECURITY.md
  guides/memory.mdx
  reference/security.mdx
Due: none

fix: reorder integration save flow (provision before connect) & add connection test panel
  src/components/molecules/credential-prompt.ts
  src/features/integration-health/molecules.ts
  src/styles/_health-dashboard.css
  src/views/integrations/setup-guide.ts
Due: eslint, prettier, typecheck
