Repository elisplash/paw: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

# prek (https://github.com/j178/prek) — fast pre-commit hooks, drop-in replacement
# Install: curl -LsSf https://github.com/j178/prek/releases/latest/download/prek-installer.sh | sh
# Setup:   prek install
# Run all: prek run --all-files

repos:
  # ── General file hygiene ────────────────────────────────────────
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md,mdx]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: mixed-line-endings
        args: [--fix=lf]
      - id: no-commit-to-branch
        args: [--branch, main]

  # ── TypeScript / JavaScript ─────────────────────────────────────
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npx eslint --max-warnings 0
        language: system
        files: '^src/.*\.ts$'
        exclude: '\.test\.ts$'
        types: [ts]

      - id: prettier
        name: prettier
        entry: npx prettier --check
        language: system
        files: '^src/.*\.ts$'
        types: [ts]

      - id: typecheck
        name: tsc --noEmit
        entry: npx tsc --noEmit
        language: system
        pass_filenames: false
        files: '^src/.*\.ts$'
        types: [ts]

  # ── Rust ────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
        language: system
        files: '^src-tauri/.*\.rs$'
        types: [rust]

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings
        language: system
        pass_filenames: false
        files: '^src-tauri/.*\.rs$'
        types: [rust]

  # ── Commit message ─────────────────────────────────────────────
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

feat: OAuth 2.0 PKCE engine with hybrid tier system
  .gitignore
  docs/hybrid-oauth-architecture.md
  docs/oauth-app-registration.md
  docs/oauth-registration-checklist.md
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/n8n.rs
  src-tauri/src/commands/oauth.rs
  src-tauri/src/engine/mod.rs
  src-tauri/src/engine/oauth.rs
  src-tauri/src/lib.rs
  src/styles/_integrations.css
  src/views/integrations/atoms.ts
  src/views/integrations/catalog.ts
  src/views/integrations/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

fix: load .env.local in build.rs + fix OAuth error env var name
  src-tauri/build.rs
  src-tauri/src/engine/oauth.rs
Due: cargo-fmt, cargo-clippy

fix: add runtime env var fallback for OAuth credentials
  src-tauri/src/engine/oauth.rs
Due: cargo-fmt, cargo-clippy

fix: three bugs preventing Gmail MCP tools from working
  src-tauri/src/engine/oauth.rs
  src-tauri/src/engine/tools/coinbase.rs
  src-tauri/src/engine/tools/mod.rs
Due: cargo-fmt, cargo-clippy

fix: solana and dex modules blocking MCP dispatch chain
  src-tauri/src/engine/tools/dex.rs
  src-tauri/src/engine/tools/solana.rs
Due: cargo-fmt, cargo-clippy

fixing agent loop if it fails
  src-tauri/src/commands/chat.rs
  src-tauri/src/engine/agent_loop/mod.rs
  src-tauri/src/engine/memory/embedding.rs
  src-tauri/src/engine/state.rs
Due: cargo-fmt, cargo-clippy

fix(community): preserve search relevance + smooth loading
  src-tauri/src/commands/n8n.rs
  src/views/integrations/community/atoms.test.ts
  src/views/integrations/community/atoms.ts
  src/views/integrations/community/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

fix: index canvas tools in Librarian so agent discovers canvas_push instead of skill_output
  src-tauri/src/engine/tool_index.rs
Due: cargo-fmt, cargo-clippy

fix: canvas view reads current session + accepts live events + recent fallback
  src-tauri/src/commands/canvas.rs
  src-tauri/src/engine/sessions/canvas.rs
  src-tauri/src/lib.rs
  src/engine/molecules/ipc_client.ts
  src/views/canvas/index.ts
  src/views/canvas/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

feat: kinetic design for canvas + :icon: syntax in chat
  src-tauri/src/engine/prompts/platform.md
  src/components/molecules/markdown.ts
  src/styles/_canvas.css
  src/views/canvas/molecules.ts
Due: eslint, prettier, typecheck

feat: full canvas toolbar — save, rename, pin, open, pop-out, delete
  src-tauri/src/commands/dashboards.rs
  src-tauri/src/lib.rs
  src/engine/molecules/ipc_client.ts
  src/styles/_canvas.css
  src/views/canvas/index.ts
  src/views/canvas/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

fix: safe UTF-8 string truncation — prevent panic on multi-byte chars
  src-tauri/src/commands/chat.rs
  src-tauri/src/commands/n8n.rs
  src-tauri/src/engine/chat.rs
  src-tauri/src/engine/compaction.rs
  src-tauri/src/engine/mcp/transport.rs
  src-tauri/src/engine/mod.rs
  src-tauri/src/engine/n8n_engine/health.rs
  src-tauri/src/engine/nostr/relay.rs
  src-tauri/src/engine/orchestrator/handlers.rs
  src-tauri/src/engine/orchestrator/mod.rs
  src-tauri/src/engine/orchestrator/sub_agent.rs
  src-tauri/src/engine/providers/google.rs
  src-tauri/src/engine/skills/prompt.rs
  src-tauri/src/engine/swarm.rs
  src-tauri/src/engine/telemetry/mod.rs
  src-tauri/src/engine/tool_index.rs
  src-tauri/src/engine/tools/coinbase.rs
  src-tauri/src/engine/tools/discord/channels.rs
  src-tauri/src/engine/tools/discord/members.rs
  src-tauri/src/engine/tools/discord/messages.rs
  src-tauri/src/engine/tools/discord/mod.rs
  src-tauri/src/engine/tools/exec.rs
  src-tauri/src/engine/tools/integrations.rs
  src-tauri/src/engine/tools/memory.rs
  src-tauri/src/engine/tools/mod.rs
  src-tauri/src/engine/tools/request_tools.rs
  src-tauri/src/engine/tools/worker_delegate.rs
  src-tauri/src/engine/util.rs
  src-tauri/src/engine/webchat/mod.rs
  src-tauri/src/engine/whatsapp/evolution_api.rs
  src-tauri/tests/loop_detection.rs
Due: cargo-fmt, cargo-clippy

security: enterprise-grade hardening across engine
  src-tauri/src/commands/utility.rs
  src-tauri/src/engine/audit.rs
  src-tauri/src/engine/engram/encryption.rs
  src-tauri/src/engine/events.rs
  src-tauri/src/engine/mcp/client.rs
  src-tauri/src/engine/mcp/registry.rs
  src-tauri/src/engine/skills/crypto.rs
  src-tauri/src/engine/swarm.rs
  src-tauri/src/engine/tools/agent_comms.rs
  src-tauri/src/engine/tools/exec.rs
  src-tauri/src/engine/tools/fetch.rs
  src-tauri/src/engine/tools/filesystem.rs
  src-tauri/src/engine/tools/memory.rs
  src-tauri/src/engine/tools/worker_delegate.rs
Due: cargo-fmt, cargo-clippy

docs: update security docs with enterprise hardening details
  SECURITY.md
  reference/security.mdx
Due: none

feat: provider-agnostic embedding layer — use OpenAI, Google, or Ollama for memory embeddings
  CONTRIBUTING.md
  src-tauri/src/atoms/types.rs
  src-tauri/src/engine/memory/embedding.rs
  src-tauri/src/engine/state.rs
  src-tauri/src/engine/types.rs
  src/engine/atoms/types.ts
  src/views/memory-palace/molecules.ts
  src/views/settings-agent-defaults/molecules.ts
  start/getting-started.mdx
  start/installation.mdx
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

feat: live tesseract inside context window gauge
  src/components/chat-mission-panel.ts
  src/components/tesseract.ts
  src/engine/organisms/chat_controller.ts
  src/styles/_chat-mission.css
Due: eslint, prettier, typecheck

fix: port website tesseract renderer + restore context gauge
  src/components/chat-mission-panel.ts
  src/components/tesseract.ts
Due: eslint, prettier, typecheck

feat: add hero tesseract to Today page header
  src/styles/_today.css
  src/views/today/molecules.ts
Due: eslint, prettier, typecheck

feat: hero tesseract — full-bleed, interactive, colour-cycling
  src/components/tesseract.ts
  src/styles/_today.css
  src/views/today/molecules.ts
Due: eslint, prettier, typecheck

feat(canvas): make all widgets interactive
  src/styles/_canvas.css
  src/views/canvas/molecules.ts
Due: eslint, prettier, typecheck

feat(today): add profile avatar + personalized greeting
  src/styles/_today.css
  src/views/today/molecules.ts
Due: eslint, prettier, typecheck

feat(channels): add Discourse forum integration
  channels/discourse.mdx
  channels/overview.mdx
  docs.json
  src/engine/atoms/types.ts
  src/views/channels/atoms.test.ts
  src/views/channels/atoms.ts
Due: eslint, prettier, typecheck

fix: add Discourse to integrations catalog + fix avatar file picker
  src/views/integrations/catalog.ts
  src/views/today/molecules.ts
Due: eslint, prettier, typecheck

security stage centraliziation
  CHANGELOG.md
  ENGRAM.md
  SECURITY.md
  guides/integrations.mdx
  guides/mcp-bridge.mdx
  guides/memory.mdx
  guides/n8n.mdx
  guides/skills.mdx
  package.json
  reference/security.mdx
  src-tauri/src/atoms/constants.rs
  src-tauri/src/commands/oauth.rs
  src-tauri/src/engine/audit.rs
  src-tauri/src/engine/engram/encryption.rs
  src-tauri/src/engine/key_vault.rs
  src-tauri/src/engine/n8n_engine/docker.rs
  src-tauri/src/engine/n8n_engine/process.rs
  src-tauri/src/engine/n8n_engine/types.rs
  src-tauri/src/engine/nostr/mod.rs
  src-tauri/src/engine/sessions/embedding.rs
  src-tauri/src/engine/skills/crypto.rs
  src-tauri/src/engine/skills/mod.rs
  src-tauri/src/engine/skills/status.rs
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat: Gmail API inbox reader + fix invoke race condition
  src-tauri/src/commands/mail.rs
  src-tauri/src/lib.rs
  src/engine/molecules/ipc_client.ts
  src/views/mail/molecules.ts
  src/views/today/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

feat: Google Workspace tools — 13 direct OAuth tools for Gmail, Calendar, Drive, Sheets, Docs
  src-tauri/src/commands/n8n.rs
  src-tauri/src/engine/oauth.rs
  src-tauri/src/engine/skills/builtins.rs
  src-tauri/src/engine/tools/google.rs
  src-tauri/src/engine/tools/mod.rs
Due: cargo-fmt, cargo-clippy

test: add ~60 integration tests, preflight check, n8n version guard, fix skill ID inconsistency
  src-tauri/src/commands/integrations.rs
  src-tauri/src/commands/n8n.rs
  src-tauri/src/commands/oauth.rs
  src-tauri/src/engine/n8n_engine/health.rs
  src-tauri/src/engine/oauth.rs
  src-tauri/src/engine/tools/google.rs
  src-tauri/src/lib.rs
Due: cargo-fmt, cargo-clippy

test: n8n protocol contract tests, MCP isError bug fix, Docker smoke test
  scripts/integration-smoke-test.sh
  src-tauri/src/commands/n8n.rs
  src-tauri/src/engine/mcp/client.rs
  src-tauri/src/engine/mcp/types.rs
  src-tauri/src/engine/n8n_engine/health.rs
Due: cargo-fmt, cargo-clippy

fix: hide OAuth connect button when client ID not configured
  src-tauri/src/commands/oauth.rs
  src/styles/_integrations.css
  src/views/integrations/index.ts
  src/views/integrations/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

fix: per-service credential vaults, AI integration awareness, OAuth guard (#42)
  scripts/integration-smoke-test.sh
  src-tauri/src/commands/integrations.rs
  src-tauri/src/commands/n8n.rs
  src-tauri/src/commands/oauth.rs
  src-tauri/src/engine/mcp/client.rs
  src-tauri/src/engine/mcp/types.rs
  src-tauri/src/engine/n8n_engine/health.rs
  src-tauri/src/engine/oauth.rs
  src-tauri/src/engine/skills/builtins.rs
  src-tauri/src/engine/skills/prompt.rs
  src-tauri/src/engine/tools/google.rs
  src-tauri/src/engine/tools/integrations.rs
  src-tauri/src/engine/tools/mod.rs
  src-tauri/src/lib.rs
  src/styles/_integrations.css
  src/views/integrations/catalog.ts
  src/views/integrations/index.ts
  src/views/integrations/molecules.ts
Due: eslint, prettier, typecheck, cargo-fmt, cargo-clippy

fix: dev:tauri:clean was missing WebKit path for com.openpawz.openpawz
  package.json
Due: none
